---
import type { HTMLAttributes } from "astro/types";
import ChevronIcon from "../icons/ChevronIcon.astro";

type Props = Omit<HTMLAttributes<"a">, "href"> & {
  text: string;
  href: string;
  cta?: string;
  variant?: "normal" | "overlay";
};

const { text, href, cta = "Learn more", variant = "normal", class: className, ...rest } = Astro.props;
---

<a
  href={href}
  data-variant={variant}
  class:list={[
    "group relative inline-flex max-w-full gap-x-3 overflow-hidden rounded-md px-3.5 py-2 text-sm/6 max-sm:flex-col sm:items-center sm:rounded-full sm:px-3 sm:py-0.5",
    variant === "normal" &&
      "bg-olive-950/5 text-olive-950 hover:bg-olive-950/10 dark:bg-white/5 dark:text-white dark:inset-ring-1 dark:inset-ring-white/5 dark:hover:bg-white/10",
    variant === "overlay" &&
      "bg-olive-950/15 text-white hover:bg-olive-950/20 dark:bg-olive-950/20 dark:hover:bg-olive-950/25",
    className,
  ]}
  {...rest}
>
  <span class="text-pretty sm:truncate">{text}</span>
  <span
    class:list={[
      "h-3 w-px max-sm:hidden",
      variant === "normal" && "bg-olive-950/20 dark:bg-white/10",
      variant === "overlay" && "bg-white/20",
    ]}
  >
  </span>
  <span
    class:list={[
      "inline-flex shrink-0 items-center gap-2 font-semibold",
      variant === "normal" && "text-olive-950 dark:text-white",
    ]}
  >
    {cta} <ChevronIcon class="shrink-0" />
  </span>
</a>
