---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  href: string;
  size?: "md" | "lg";
  color?: "dark/light" | "light";
};

const { size = "md", color = "dark/light", class: className, ...rest } = Astro.props;

const sizes = {
  md: "px-3 py-1",
  lg: "px-4 py-2",
};
---

<a
  class:list={[
    "inline-flex shrink-0 items-center justify-center gap-1 rounded-full text-sm/7 font-medium",
    color === "dark/light" &&
      "bg-olive-950 text-white hover:bg-olive-800 dark:bg-olive-300 dark:text-olive-950 dark:hover:bg-olive-200",
    color === "light" &&
      "hover bg-white text-olive-950 hover:bg-olive-100 dark:bg-olive-100 dark:hover:bg-white",
    sizes[size],
    className,
  ]}
  {...rest}
>
  <slot />
</a>
