---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div
  class:list={["text-sm/7 font-semibold text-olive-700 dark:text-olive-400", className]}
  {...rest}
>
  <slot />
</div>
