---
import type { HTMLAttributes } from "astro/types";
import Container from "./Container.astro";
import Eyebrow from "./Eyebrow.astro";
import Subheading from "./Subheading.astro";
import Text from "./Text.astro";

type Props = HTMLAttributes<"section"> & {
  eyebrow?: string;
  headline?: string;
  subheadline?: string;
};

const { eyebrow, headline, subheadline, class: className, ...rest } = Astro.props;
---

<section class:list={["py-16", className]} {...rest}>
  <Container class="flex flex-col gap-10 sm:gap-16">
    {
      headline && (
        <div class="flex max-w-2xl flex-col gap-6">
          <div class="flex flex-col gap-2">
            {eyebrow && <Eyebrow>{eyebrow}</Eyebrow>}
            <Subheading>{headline}</Subheading>
          </div>
          {subheadline && (
            <Text class="text-pretty">
              <p>{subheadline}</p>
            </Text>
          )}
          <slot name="cta" />
        </div>
      )
    }
    <div><slot /></div>
  </Container>
</section>
