---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div"> & {
  size?: "md" | "lg";
};

const { size = "md", class: className, ...rest } = Astro.props;
---

<div
  class:list={[
    size === "md" && "text-base/7",
    size === "lg" && "text-lg/8",
    "text-olive-700 dark:text-olive-400",
    className,
  ]}
  {...rest}
>
  <slot />
</div>
