---
import type { HTMLAttributes } from "astro/types";
import Container from "../elements/Container.astro";
import Subheading from "../elements/Subheading.astro";
import Text from "../elements/Text.astro";

type Props = HTMLAttributes<"section"> & {
  headline: string;
  subheadline?: string;
};

const { headline, subheadline, class: className, ...rest } = Astro.props;
---

<section class:list={["py-16", className]} {...rest}>
  <Container class="flex flex-col items-center gap-10">
    <div class="flex flex-col gap-6">
      <Subheading class="max-w-4xl text-center">{headline}</Subheading>
      {
        subheadline && (
          <Text class="flex max-w-3xl flex-col gap-4 text-center text-pretty">
            <p>{subheadline}</p>
          </Text>
        )
      }
    </div>
    <slot name="cta" />
  </Container>
</section>
